body {
    background-color: rgb(231, 238, 233);
}
.main-navigation {
    background-color: white;
    position: fixed;
    width: 8cm;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-name, .main-create {
    margin: 10px;
}
.logo-name {
   font-size: 1cm;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
}
.user-name {
    color: rgb(80, 80, 80);
    margin-top: 17px;
    font-weight: bold;
    font-size: large;
}
.user-name, .typ-acc {
    font-family: 'PT Sans', sans-serif;
}
.typ-acc {
    font-size: small;
    color: rgb(102, 156, 137);
}
.main-create button {
    width: 50%;
    padding: 14px;
    text-align: left;
    font-size: medium;
    font-family: 'monstserrat', sans-serif;
    font-weight: bold;
    background-color: rgb(32, 150, 101);
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: .2s;
}
.main-create button:hover, .sc-sub input:hover, .mq-create button:hover {
    background-color: rgb(47, 177, 123);
}
.main-nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.row-nav-btn button {
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: grey;
    padding: 15px;
    border-style: solid;
    border-width: 0;
    border-color: rgb(32, 150, 101);
    background-color: white;
    cursor: pointer;
    transition: .2s;
}
.row-nav-btn button:hover {
    background-color: rgb(237, 243, 240);
}
.row-nav-btn:first-child button {
    background-color: rgb(237, 243, 240);
    color: rgb(32, 150, 101);
    border-width: 0 4px 0 0;
}
.dtab-menu-content {
    margin-left: 9cm;
    position: relative;
    height: 100vh;
    overflow-x: scroll;
    display: block;
}
.sc-text, .no-quiz {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}
.sc-text h1, .no-quiz h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2cm;
    color: rgb(55, 75, 66);
}
.sc-inp input {
    width: 50%;
    padding: 20px;
    font-family: 'Roboto';
    font-size: large;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(208, 214, 212);
}
.sc-sub input {
    margin-top: 20px;
    padding: 20px;
    font-size: large;
    font-family: 'pt sans';
    font-weight: bold;
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: rgb(32, 150, 101);
    color: white;
    cursor: pointer;
    transition: .2s;
}
.mq-create button {
    padding: 20px;
    font-size: large;
    font-family: 'pt sans';
    font-weight: bold;
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: rgb(32, 150, 101);
    color: white;
    cursor: pointer;
    transition: .2s;
}

.myquiz-c-row {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}